@font-face {
    font-family: 'Lust Slim';
    src: url('LustSlim-Regular.eot');
    src: url('LustSlim-Regular.eot?#iefix') format('embedded-opentype'),
        url('LustSlim-Regular.woff2') format('woff2'),
        url('LustSlim-Regular.woff') format('woff'),
        url('LustSlim-Regular.ttf') format('truetype'),
        url('LustSlim-Regular.svg#LustSlim-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

