.navigation {
    position: fixed;
    background: $color-white;
    width: 100%;
    top: 0px;
    left: 0;
    display: none;
    z-index: 999;

    .container {
        position: relative;
        max-width: 1490px;

        @include breakpoint(xxlarge) {
            max-width: $container;
        }

        @include breakpoint(large) {
            max-width: 950px;
        }

    }

    .inner-wrapper {
        max-width: 1100px;
        margin: 0 auto;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        height: 100vh;

        @include breakpoint(xxlarge) {
            max-width: 1000px;
        }

        @include breakpoint(large) {
            max-width: 800px;
        }
    }

    .colmn-img,
    .colmn-text {
        width: 50%;
    }

    .colmn-img {
        figure {
            position: relative;
            height: 550px;

            @include breakpoint(large) {
                height: 400px;
            }

            a {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                opacity: 0;
                @include transition(all 0.5s);
                z-index: -1;

                &.active {
                    opacity: 1;
                    z-index: 9;
                }

                img {
                    width: 100%;
                    height: 100%;
                    -o-object-fit: cover;
                    object-fit: cover;
                }
            }

        }

        @include breakpoint(medium) {
            display: none;
        }
    }

    .colmn-text {
        padding-left: 115px;
        position: relative;
        z-index: 9;

        @include breakpoint(large) {
            padding-left: 70px;
        }

        @include breakpoint(medium) {
            width: 100%;
            padding-left: 0;
        }

        .active {
            li {
                a {
                    color: $color-gray;
                }
            }
        }

        li {
            margin-bottom: 30px;
            position: relative;

            @include breakpoint(large) {
                margin-bottom: 10px;
            }

            @include breakpoint(medium) {
                text-align: center;
                margin-bottom: 20px;
            }





            a {
                font-size: 45px;
                letter-spacing: 3px;
                font-family: $font-lust;
                position: relative;

                @include breakpoint(medium) {
                    border-bottom: solid 5px $color-black;

                }

                &:after {
                    @include center(vertical);
                    right: calc(100% + 25px);
                    width: 0;
                    height: 8px;
                    background-color: $color-black;
                    content: "";
                    @include transition(width 0.5s);

                    @include breakpoint(large) {
                        height: 5px;
                    }
                }

                @include breakpoint(large) {
                    font-size: 25px;
                }

                @include breakpoint(medium) {
                    font-size: 32px;
                }

                &.active {
                    color: $color-black;

                    &:after {
                        width: 160px;

                        @include breakpoint(large) {
                            width: 100px;
                        }
                    }
                }

                &.btn {
                    font-size: 14px;
                    font-family: $font-brandon-medium;
                    letter-spacing: 19px;
                    color: $color-black;
                    width: 100%;
                    min-width: unset;
                    text-transform: uppercase;

                    &:after {
                        display: none;
                    }

                    &:hover {
                        color: $color-white;
                    }

                    @include breakpoint(large) {
                        padding: 15px 20px;
                    }

                    @include breakpoint(medium) {
                        border-bottom: solid 2px $color-black;
                    }
                }

                &.btn-underline {
                    color: $color-black;
                    font-family: $font-brandon-medium;

                    &:after {
                        display: none;
                    }

                    @include breakpoint(medium) {
                        border-bottom: none;
                    }
                }
            }

            &:last-of-type {
                margin-bottom: 0;
            }

        }
    }
}
