.contact-form-section,
.book-form-section {
    padding: 100px 0 50px;

    .success-message {
        width: 100%;
        text-align: left;
        margin-top: 30px;
        font-size: 18px;
        font-family: $font-brandon-medium;
        color: #6cc04a;
    }

    .container {
        width: 900px;

    }

    .btn-box {
        text-align: center;
        width: 100%;
    }

    .form-group {
        width: 48%;
        margin-bottom: 40px;
        position: relative;

        .error-message {
            position: absolute;
            font-size: 14px;
            color: #E03A3E;
            padding-top: 5px;
            width: 100%;
            top: 100%;
            left: 0;
        }

        * {
            font-family: $font-brandon-medium;
        }

        label {
            font-family: $font-brandon-medium;
            font-size: 18px;
            width: 100%;
            text-transform: capitalize;
        }

        .css-yk16xz-control {
            border: none;
            -webkit-box-shadow: none;
            box-shadow: none;
            border-bottom: solid 1px $color-black;
            border-radius: 0;
        }

        .css-g1d714-ValueContainer {
            padding-top: 10px;
            padding-bottom: 10px;
            padding-left: 0;
            padding-right: 0;
        }

        .css-1pahdxg-control {
            border: none;
            -webkit-box-shadow: none;
            box-shadow: none;
            border-bottom: solid 1px $color-black;
            border-radius: 0;
        }

        .css-1okebmr-indicatorSeparator {
            display: none;

        }

        .css-1wa3eu0-placeholder {
            font-family: $font-brandon-medium;
            font-size: 20px;
        }


        &.full {
            width: 100%;
        }

        .react-datepicker-wrapper {
            width: 100%;
        }

        .form-control,
        input {
            width: 100%;
            padding: 10px 0;
            border: none;
            border-bottom: solid 1px $color-black;
            font-size: 20px;
            resize: none;
            font-family: $font-brandon-medium;
            outline: none;
        }

        textarea {
            height: 100px;
        }

        .note-text {
            font-size: 14px;
        }
    }

    .form-heading {
        width: 100%;
        text-align: center;
        padding-top: 30px;

        h4 {
            font-family: $font-brandon-medium;
            text-align: center;
            text-transform: uppercase;
            font-size: 18px;
            margin-bottom: 20px;
            letter-spacing: 30px;
        }
    }

}
