.featured-section {
    padding-top: 140px;

    @include breakpoint(large) {
        padding-bottom: 60px;
        padding-top: 100px;
    }

    @include breakpoint(medium) {
        padding-top: 80px;
    }

    @include breakpoint(xsml) {
        margin-bottom: 60px;
    }

    @include breakpoint(xsml) {
        .flex {
            position: relative;


            &:after {
                content: "";
                position: absolute;
                bottom: 25px;
                left: 0;
                width: 100%;
                height: 128px;
                background-image: -webkit-gradient(linear, left top, left bottom, color-stop(-52%, rgba(255, 255, 255, 0)), color-stop(69%, #ffffff));
                background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) -52%, #ffffff 69%);
            }

            &.active {

                &:after {
                    display: none;
                }
            }
        }
    }

    .btn-box {
        text-align: center;

        @include breakpoint(xsml) {
            margin-top: -60px;
        }

        .btn-underline {
            display: none;

            @include breakpoint(xsml) {
                display: inline-block;
                position: relative;
                padding-right: 20px;
            }

            &:after {
                @include center(vertical);
                right: 0;
                content: "\f107";
                font-family: FontAwesome;
                font-size: 20px;

            }
        }
    }

    h5 {
        font-size: 20px;
        font-family: $font-brandon-medium;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 80px;
        letter-spacing: 30px;

        @include breakpoint(large) {
            margin-bottom: 40px;
        }

        @include breakpoint(medium) {
            font-size: 14px;
            letter-spacing: 20px;
        }
    }

    .colmn-box {
        width: 20%;
        text-align: center;
        margin-bottom: 100px;

        @include breakpoint(large) {
            margin-bottom: 60px;
        }

        @include breakpoint(xmedium) {
            width: 33.33%;
        }

        @include breakpoint(xsml) {
            width: 50%;
            margin-bottom: 40px;
            display: none;
        }

        figure {
            height: 100px;
            width: 100px;
            @extend %flexCenter;
            margin: 0 auto;

            @include breakpoint(medium) {
                width: 70px;
                height: 70px;
                margin-bottom: 20px;
            }

            img {
                width: auto;
                max-width: 100%;

            }
        }

        p {
            font-size: 14px;
            font-family: $font-brandon-medium;
            color: #848484;

        }
    }
}

.book-section {
    text-align: center;

    h3 {
        margin-bottom: 30px;

        @include breakpoint(medium) {
            font-size: 32px;
        }
    }

    .btn {
        text-transform: uppercase;
    }

    .btn-box {
        margin-top: 50px;

        @include breakpoint(medium) {
            margin-top: 30px;
        }
    }
}

.studio-slider {
    padding: 170px 0;
    position: relative;

    .slick-slide {
        float: none;
        height: 100%;
        display: inline-block;
    }

    .slider-group {
        position: relative;
    }

    h5 {
        font-size: 16px;
        letter-spacing: 17px;
        font-family: $font-brandon-medium;
        text-transform: uppercase;
        margin-bottom: 60px;
        text-align: center;

        @include breakpoint(large) {
            margin-bottom: 30px;
        }

        @include breakpoint(medium) {
            font-size: 14px;
            letter-spacing: 20px;
            padding: 0px 30px;
        }
    }

    .slick-arrow {
        opacity: 1;
        width: 110px;
        height: 110px;
        background-color: $color-white;
        border: solid 1px $color-black;
        border-radius: 0px;
        z-index: 99;
        font-size: 20px;
        @extend %flexCenter;
        display: -webkit-box !important;
        display: -ms-flexbox !important;
        display: flex !important;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -ms-flex-line-pack: center;
        align-content: center;
        top: calc(50% - 25px);
        position: absolute;

        @include breakpoint(large) {
            width: 90px;
            height: 90px;
        }

        @include breakpoint(medium) {
            display: none !important;
        }

        span {
            color: $color-black;
            font-family: $font-brandon-medium;
            text-transform: uppercase;
            display: block;
            width: 35%;
            text-align: center;
            line-height: 2;

            @include breakpoint(large) {

                font-size: 14px;
            }

        }

        &.slick-prev {
            left: 300px;

            @include breakpoint(large) {
                left: 150px;
            }

            @include breakpoint(xmedium) {
                left: 100px;
            }

        }

        &.slick-next {
            right: 300px;
            -webkit-transform: translate(50%, -50%);
            transform: translate(50%, -50%);

            @include breakpoint(large) {
                right: 150px;
            }

            @include breakpoint(xmedium) {
                right: 100px;
            }
        }
    }

    .arrows {
        @include breakpoint(medium) {
            display: none;
        }

        li {
            opacity: 1;
            width: 110px;
            height: 110px;
            background-color: $color-white;
            border: solid 1px $color-black;
            border-radius: 0px;
            z-index: 99;
            font-size: 20px;
            @extend %flexCenter;
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            -ms-flex-line-pack: center;
            align-content: center;
            top: calc(50% - 25px);

            @include breakpoint(large) {
                width: 90px;
                height: 90px;
            }

            span {
                color: $color-black;
                font-family: $font-brandon-medium;
                text-transform: uppercase;
                display: block;
                width: 35%;
                text-align: center;
                line-height: 2;

                @include breakpoint(large) {

                    font-size: 14px;
                }

            }

            &:first-of-type {
                left: 300px;

                @include breakpoint(large) {
                    left: 150px;
                }

                @include breakpoint(xmedium) {
                    left: 100px;
                }

            }

            &:last-of-type {
                right: 300px;
                -webkit-transform: translate(50%, -50%);
                transform: translate(50%, -50%);

                @include breakpoint(large) {
                    right: 150px;
                }

                @include breakpoint(xmedium) {
                    right: 100px;
                }
            }
        }
    }


    figure {
        padding: 0px 20px;
        height: 670px;

        @include breakpoint(large) {
            height: 500px;
        }

        @include breakpoint(medium) {
            height: 350px;
        }

        @include breakpoint(xsml) {
            height: 200px;
        }

        img {
            height: 100%;
            width: 100%;
            -o-object-fit: cover;
            object-fit: cover;
        }

        @include breakpoint(medium) {
            padding: 0 7px;
        }
    }

    .slick-dots {
        max-width: 1000px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin-top: 50px;
        margin: 50px auto 0;
        border-bottom: solid 1px $color-gray;

        @include breakpoint(large) {
            width: 750px;
        }

        @include breakpoint(medium) {
            width: calc(100% - 140px);
            margin-top: 40px;
        }

        li {
            -webkit-box-flex: 1;
            -ms-flex: 1;
            flex: 1;
            height: 6px;
            line-height: 0;
            margin-bottom: 0;
            margin: 0;

            button {
                width: 100%;
                height: 100%;
                background-color: transparent;
                border: none;
                outline: none;
                font-size: 0;
                @include transition(all 0.5s);
                border-radius: 0;
            }

            &.slick-active {
                button {
                    background-color: $color-black;
                }
            }

        }
    }
}


.video-section {
    padding-bottom: 200px;

    @include breakpoint(large) {
        padding-bottom: 150px;
    }

    @include breakpoint(medium) {
        padding-bottom: 120px;
    }

    h5 {
        font-size: 20px;
        font-family: $font-brandon-medium;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 80px;
        letter-spacing: 30px;

        @include breakpoint(xmedium) {
            margin-bottom: 50px;
        }

        @include breakpoint(medium) {
            font-size: 14px;
            letter-spacing: 20px;
            margin-bottom: 40px;
        }
    }

    figure {
        video {
            width: 100%;
        }

        iframe {
            width: 100%;
            height: 1000px;

            @include breakpoint(xlarge) {
                height: 700px;
            }

            @include breakpoint(xmedium) {
                height: 500px;
            }

            @include breakpoint(medium) {
                height: 400px;
            }

            @include breakpoint(xsml) {
                height: 350px;
            }
        }
    }
}

.other-studios {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 200px;

    @include breakpoint(large) {
        padding-top: 150px;
    }

    @include breakpoint(medium) {
        padding-top: 120px;
        padding-bottom: 40px;
    }

    .colmn-box {
        width: 50%;
        position: relative;
        height: 600px;

        @include breakpoint(large) {
            height: 400px;
        }

        @include breakpoint(xmedium) {
            height: 300px;
        }

        @include breakpoint(medium) {
            height: 200px;
        }

        @include breakpoint(xsml) {
            height: 150px;
        }

        &:hover {
            figure {
                &:after {
                    background-color: transparent;
                }

                img {
                    -webkit-transform: scale(1.2);
                    transform: scale(1.2);
                }
            }
        }

        figure {
            width: 100%;
            height: 100%;
            position: relative;
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
                -o-object-fit: cover;
                object-fit: cover;
                @include transition(all 0.5s);
            }

            &:after {
                position: absolute;
                width: 100%;
                height: 100%;
                background-color: rgba($color-white, 0.5);
                content: "";
                top: 0;
                left: 0;
                @include transition(all 0.5s);
            }
        }

        h2 {
            font-size: 80px;
            @include center(both);
            text-align: center;

            @include breakpoint(large) {
                font-size: 50px;
            }

            @include breakpoint(medium) {
                font-size: 24px;
            }
        }

    }
}


.studio-single-page {
    .detail-banner {
        &+.book-section {
            padding-top: 100px;
        }
    }


    .book-section h3 {
        @include breakpoint(medium) {
            font-size: 18px;
        }
    }

    @include breakpoint(large) {
        .studio-slider {
            padding: 120px 0
        }
    }

    @include breakpoint(medium) {
        .studio-slider {
            padding: 120px 0 100px;
        }
    }
}
