.studio-section,
.coworking-section {
    padding-bottom: 0;

    @include breakpoint(xlarge) {
        padding-top: 50px;
    }

    @include breakpoint(xmedium) {
        padding-top: 70px;
    }

    @include breakpoint(medium) {
        padding-top: 20px;
        padding-right: 30px;
        padding-left: 30px;
    }

    @include breakpoint(xsml) {
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 30px;
    }

    .studio-box {
        width: 620px;
        margin-left: 180px;
        margin-bottom: 120px;
        position: relative;

        @include breakpoint(large) {
            margin-left: 0;
            margin-bottom: 100px;
        }

        @include breakpoint(xmedium) {

            width: 100%;
            padding-right: 150px;
            margin-bottom: 70px;

        }

        @include breakpoint(medium) {
            padding-right: 100px;

        }

        @include breakpoint(xsml) {
            padding-right: 0;
            margin-bottom: 50px;
        }

        &.table-box {
            @include breakpoint(medium) {
                padding-right: 0;

                h2 {
                    display: none;
                }

                figure {
                    overflow-x: auto;
                    scrollbar-color: #000;
                    scrollbar-width: 30px;

                    table {
                        width: 630px;

                    }

                    // &::-webkit-scrollbar {
                    //     width: 10px;
                    // }

                    // &::-webkit-scrollbar-track {
                    //     background: #000000;
                    // }

                    // &::-webkit-scrollbar-thumb {
                    //     background: #555;
                    // }
                }

            }
        }

        h2 {
            top: 0;
            right: -280px;
            font-size: 90px;
            position: absolute;
            -webkit-writing-mode: vertical-rl;
            -ms-writing-mode: tb-rl;
            writing-mode: vertical-rl;
            -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
            line-height: 1.05;
            width: 67px;
            overflow: hidden;
            white-space: nowrap;

            @include breakpoint(xmedium) {
                right: 0;
            }

            @include breakpoint(medium) {
                font-size: 70px;
                right: 0;
                width: 47px;
            }

            @include breakpoint(xsml) {
                font-size: 50px;
                width: 33px;
            }
        }

        figure {
            margin-bottom: 30px;


            @include breakpoint(xsml) {
                padding-right: 50px;
                margin-bottom: 20px;
            }

            .points {
                display: none;

                @include breakpoint(medium) {
                    display: block;
                    position: absolute;
                    z-index: 9;
                    bottom: 0;
                    left: 0;
                    height: 100%;
                    background-color: $color-white;
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-orient: vertical;
                    -webkit-box-direction: normal;
                    -ms-flex-direction: column;
                    flex-direction: column;
                    -webkit-box-pack: end;
                    -ms-flex-pack: end;
                    justify-content: flex-end;

                    li {
                        height: 80px;
                        display: block;
                        width: 140px;
                        text-align: right;
                        margin-right: 0;
                        padding-right: 10px;
                        display: -webkit-box;
                        display: -ms-flexbox;
                        display: flex;
                        -webkit-box-align: center;
                        -ms-flex-align: center;
                        align-items: center;
                        -webkit-box-pack: end;
                        -ms-flex-pack: end;
                        justify-content: flex-end;


                    }

                }
            }

            img {
                width: 100%;
                max-height: 620px;
                -o-object-fit: cover;
                object-fit: cover;
            }

            table {
                width: 100%;
                border-spacing: 0;

                th {
                    font-family: $font-brandon-medium;
                    font-size: 18px;
                    padding-bottom: 20px;
                }

                tr {
                    &:first-of-type {
                        td {
                            border-top: solid 1px $color-black;
                        }
                    }
                }

                td {
                    padding: 30px 20px;
                    border: solid 1px $color-black;
                    border-top: none;
                    border-right: none;
                    font-size: 16px;
                    text-align: center;

                    span {
                        width: 5px;
                        height: 5px;
                        border-radius: 50%;
                        background-color: $color-black;
                        display: inline-block;
                    }

                    &:last-of-type {
                        border-right: solid 1px $color-black;
                    }

                    &:first-of-type {
                        padding: 10px 20px;
                        text-align: right;
                        border: none !important;
                    }
                }
            }
        }

        .text-box {
            max-width: 425px;
            text-align: right;
            margin-left: auto;

            p {
                padding-bottom: 30px;
            }

            @include breakpoint(xsml) {
                text-align: left;
                padding-right: 40px;

                p {
                    padding-bottom: 20px;
                    font-size: 14px;
                }
            }
        }

        ul {
            text-align: right;



            li {
                display: inline-block;
                margin-left: 10px;
            }

            @include breakpoint(xsml) {
                text-align: left;

                li {
                    margin-left: 0;
                    margin-right: 10px;
                    font-size: 16px;
                }
            }
        }
    }
}

.studios-page {
    &.inner-banner .text-layer h2 {
        color: $color-black;
    }
}
